body {
    font-family: "Roboto Condensed", sans-serif;
    background: gainsboro;
    font-size: 24px;
    font-weight: 400;
}

#usersTable {
    margin: 15px auto;
    width: 50%;
    padding: 20px;
    background: darkgrey;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 5px;
}

h1, h2, table {
    margin: 0 auto;
    text-align: center;
    width: inherit;
}

table, th, td {
    border-spacing: 0;
    border: 1px slategray solid;
}

thead > tr {
    background-color: dimgrey;
}

tr {
    background: lightgray;
}

tr:hover {
    background-color: rgba(145,144,146,0.45)
}
